.banner {
    background: url("https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aG9tZSUyMGludGVyaW9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80") center center;
    height: 50vh;
    position: relative;
  }
  
  .banner__info {
      opacity: 0.8;
      background-color: rgb(40, 40, 40);
      color: white;
    
      padding: 14px;
      width: 340px;
      height: 240px;
  }
  
  .banner__search {
      display: flex;
      flex-direction: column;
  }
  
  .banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #f8484a !important;
  }
  
  .banner__info > button {
      background-color: #f13134;
      color: white;
      text-transform: inherit;
      margin-top: 1px;
      font-weight: 600;
      width: 230px;
      height: 50px;
  }
  
  .banner__info > button:hover {
      background-color: rgb(255, 94, 94);
      color: #000000;
    }
    
  
  .banner__info > h4 {
      margin-top: 10px;
  }
